@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {

  /* --theme-color: #00c9c8; */
  --theme-color: #08fdd8;
  --secondary-color:#079696;
  --special-color:#7278d09a;
  --btn-mask-color:#ff0b56;
  --nav-link-hover: white;
  --nav-link-hover-icon:#CF9EAC /* #dbdbdb;*/
  --nav-link-active: #555;
  --bg: #02021e;
  /* --bg: #140f30;  */
  --bg-rgb: 14, 18, 18;
  --bgLight: radial-gradient(var(--bg), transparent, var(--theme-color) 130%);
  --gray: grey;
  --font-theme:"Roboto", sans-serif;
  --font-special:'Playfair Display', serif;
  
}
*,*::after,*::before {
  box-sizing: border-box;
  font-family:var(--font-theme);
  margin: 0;
  padding: 0;
  color: white;
  cursor:default;
}
body{
    background-color: var(--bg);
}
a:hover{
  cursor: pointer;
}

/* Navigation */
header,section{
    height: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 20px 10px;
  width:95%;
  margin:auto;
}
.nav__links {
  display: flex;
  flex:1;
  justify-content:space-between;
  list-style-type: none;
}
.nav__links li {
  display: inline-block;
  padding: 1rem;
}
.nav__links li a {
  position:relative;
  text-decoration: none;
  height: 2rem;
  transition: all 0.3s ease 0s;
  font-size:1.1rem;
  font-weight: bold;
  color:var(--gray)
}

.nav__links li a:after{
    content:'';
    position:absolute;
    background-color:var(--theme-color);
    height:2px;
    width:0;
    left:0;
    bottom:-10px;
    transition: 0.3s;
}
.nav__links li a:hover {
    color: var(--nav-link-hover);
  }
.nav__links li a:hover:after{
    width: 100%;
}
.nav__links li a svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--theme-color);
  position: relative;
  top: 2px;
  transition: fill 0.4s ease-out;
}
.nav__links li a svg:hover {
  fill: var(--gray);
}


/* Home */
.home__intro{
    padding:20vh 30vh;
}
.home__intro h1{
  font-size: 4rem;
}
.home__intro h1 span{
  display:block;
  padding:2rem 0px;
  font-weight: normal;
  font-size:1.5rem;
  font-weight:bold;
  font-family: var(--font-special);
}


/* Button */

.button {
    display:block;
    position:relative;
    width:10rem;
    height:3rem;
    background:linear-gradient(270deg,var(--theme-color),var(--secondary-color));
    transition: all 0.3s;
    cursor: pointer;
    /* z-index:10; */
}
.button__text{
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  font-weight: bold;
  text-align: center;
  letter-spacing:3px;
  padding:12px 20px;
  /* z-index:2; */
}

.button__icon {
  position:absolute;
  top:0%;
  left:90%;
  height:100%;
  /* z-index: 3; */
}
.button__icon svg{
  fill:white;
  height:100%;

}
.button__mask{
  overflow: hidden;
  position:absolute;
  height: 100%;
  width:100%;
  top:0;
  left:0;
  cursor:pointer;
}
.button__mask::before{
  content: '';
  display:inline-block;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:-100%;
  background-color: var(--btn-mask-color);
  transition:transform .6s cubic-bezier(.694,.048,.335,1) .05s;
  /* z-index:1; */
}
.button__mask:hover::before{
  transform: translateX(200%);
  }
.button:hover .button__icon{
  transform: translateX(30%);
}


 
/* PROJECTS */
.projects__header{
    font-size: 2rem;
    text-align: center; 
    margin:30px 10px;
} 
.projects__container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}
.project{
    border-radius: 3px;
    border:1px solid white;
    background-color:var(--bgLight);
    width:70vw;
    margin:20px 10px;
    display:flex;
    font-size:16px;
}
.project img{
    background-color: aquamarine;
    height:100px;
    width:100px;
}
.project h3{
    font-family: var(--font-special);
    font-size:8em;
    position:relative;
    top:10px;
    left:60vw;
}

/* EXPERIMENTS */
.experiments__header{
    font-size: 2rem;
    text-align: center; 
    margin:30px 10px;  
}
.experiments__container{
    display:flex;
    justify-content: center;
    justify-content:center;
    align-items: center;
}
.experiment{
    width:30vw;
    border:1px solid white;
    margin:20px 10px;
    align-items: center;
    justify-content: center;
}

/* ELEMENTS */
/* cursor */
.cursor{
  position:absolute;
  width: 0.8rem;
  height:0.8rem;
  background:var(--theme-color);
  border-radius: 50%;
  transform:translate(-150%, -150%);
  pointer-events:none;
  transition:all 0.3s ease;
  transition-property: background,transform;
  transform-origin: 100% 100%;
}
.larger{
  transform:scale(4);
  background:var(--special-color);
}

.invisible{
  display:none;
}
