header {
  background-color: rgba(60, 158, 158, 0.747);
  text-align: center;
  color: aqua;
}
header h1 {
  color: white;
}

h2 {
  text-align: center;
}
main {
  background-color: aquamarine;
}
.glass-button {
  margin: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}

.button-1 {
  margin: 5px;
  width: 50%;
  border-style: dotted solid; /*clockwise value*/
  border-width: 1px 2px;
  border-color: red;
  border-radius: 5px;
  padding: 5px;
}
