* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.navbar {
  background-color: aquamarine;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.navbar a:hover {
  color: blue;
}

.row {
  float: left;
  background-color: aqua;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  display: flex;
  width: 33.3%;
  align-content: center;
  padding: 10px 0px;
}

.column img {
  width: 50%;
  background-color: cadetblue;
  margin-left: 10px;
}

.column .desc {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}
.column .desc:hover {
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
