* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #242333;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.movie-container {
  margin: 20px 0;
  font-size: 2rem;
}
.movie-container select {
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  font-size: 0.8em;
  padding: 0.3em 0.8em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* showcase */
.showcase {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.showcase li {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}
.showcase li small {
  margin-left: 2px;
}

/* THEATER master plan*/
.theater-container {
  perspective: 1000px;
  margin-bottom: 30px;
}
/* screen */
.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6);
}
/* seats */

.row {
  display: flex;
}
.seat {
  background-color: #444451;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1rem;
  width: 1.25rem;
  margin: 3px;
}
.seat--selected {
  background-color: #6feaf6;
}
.seat--occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}
.seat:nth-last-of-type(2) {
  margin-right: 18px;
}
.seat:not(.seat--occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.showcase .seat:not(.seat--occupied):hover {
  cursor: default;
  transform: scale(1);
}

.booking-result {
  margin: 5px 0;
}

.booking-result span {
  color: #6feaf6;
}
